.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__text {
  margin-top: -80px;
  max-width: 284px;
  height: 144px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 144px;
}

.content__search {
  margin-top: -45px;
  margin-bottom: 40px;
  width: 704px;
  height: 91px;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 200px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
}

.content__list {
  display: flex;
  justify-content: space-around;
}

.content__item {
  list-style-type: none;
  width: 1792px;
  margin-left: 94px;
  margin-right: 44px;
}

.content__button {
  width: 347px;
  height: 91px;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border: 0;
}

.content__button--text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
}

.content__button--info {
  width: 395px;
  height: 91px;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 0;
}