.content__item--explore{
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview__list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 890px;
    margin: auto;
    justify-content: center;
}

.preview__item {
    flex-basis: 50%;
    list-style-type: none;
}

.preview__button {
    width: 421px;
    height: 78px;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 0;
    background: #FFFFFF;
    margin-bottom: 20px;
}

.preview__button--text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    letter-spacing: 0.065em;
    line-height: 45px;
}