.header__list {
  display: flex;
  justify-content: space-between;
}

.header__list {
  display: flex;
}

.list__item {
  display: flex;
  list-style-type: none;
}

.travel__logo {
  height: 115px;
  width: 236px;
  border-radius: 0px;
}

.woman__avatar {
  width: 75px;
  height: 75px;
}
